* {
  margin: 1rem;
}

#score {
  margin-top: 1rem;
}

.score_list_item {
  margin: 0;
  list-style: none;
}

#member_list_team {
  margin: 0;
  margin-bottom: 0.5rem;
  list-style: none;
  border-bottom: 1px solid black;
}

.member_list_item {
  margin: 0;
  padding: 5px;
}
